body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table >tbody >tr >td{
    padding: 2px!important;
}

.table >tbody >tr >td:focus  {
    border: 1px solid #4cff00;

}


.submit-button {
    font-size: 14px;
    font-family: Trebuchet MS;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    padding: 6px 18px;
    text-decoration: none;
    background: -moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
    /*background: -ms-linear-gradient( top, #ededed 5%, #ffffff 100% );*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #ffffff) );
    background-color: #ededed;
    color: #777777;
    display: inline-block;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
}

.submit-button:hover {
    background: -moz-linear-gradient( center top, #ffffff 5%, #ededed 100% );
    /*background: -ms-linear-gradient( top, #ffffff 5%, #ededed 100% );*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ededed) );
    background-color: #ffffff;
    color: #ff6500;
    transition: 0.5s !important;
}

.submit-button:active {
	position:relative;
	top:1px;
}

 .delete-button {
	font-size:12px;
	font-family:Trebuchet MS;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:3px 9px;
	text-decoration:none;
    background: -moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
    background: -ms-linear-gradient( top, #ededed 5%, #ffffff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #ffffff) );
    background-color: #ededed;
    color: #777777;
    display: inline-block;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
}

.delete-button:hover {
    background: -moz-linear-gradient( center top, #ffffff 5%, #ededed 100% );
    background: -ms-linear-gradient( top, #ffffff 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ededed) );
    background-color: #ffffff;
    color: #ff0000;
    transition: 0.5s !important;
}

.delete-button:active {
	position:relative;
	top:1px;
}

.submit-sm-button {
	font-size:12px;
	font-family:Trebuchet MS;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:3px 9px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
	/*background:-ms-linear-gradient( top, #ededed 5%, #ffffff 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #ffffff) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}

.submit-sm-button:hover {
    background: -moz-linear-gradient( center top, #ffffff 5%, #ededed 100% );
    /*background: -ms-linear-gradient( top, #ffffff 5%, #ededed 100% );*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ededed) );
    background-color: #ffffff;
    color: #78ff00;
    transition: 0.5s !important;
}

.submit-sm-button:active {
	position:relative;
	top:1px;
}

.info-sm-button {
	font-size:12px;
	font-family:Trebuchet MS;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:3px 9px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
	/*background:-ms-linear-gradient( top, #ededed 5%, #ffffff 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #ffffff) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.info-sm-button:hover {
        background: -moz-linear-gradient( center top, #ffffff 5%, #ededed 100% );
        /*background: -ms-linear-gradient( top, #ffffff 5%, #ededed 100% );*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
        background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ededed) );
        background-color: #ffffff;
        color: #007acc;
        transition: 0.5s !important;
    }
.info-sm-button:active {
	position:relative;
	top:1px;
}